/***************


COLORS:

background: #deb7d2; (lavender)
text, main menu bg: #1c1328 (dark purple)
main menu items: #c66a53 (darker orange)
main menu items (hover): #e19160 (lighter orange)
accents: #8e6286 (mid purple)
****************/

/*********
STYLES FOR ALL SIZES
**********/

body {
  color: #1c1328;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3em;
  margin: 0;
}


/*********
NAVIGATION
**********/


.mainNav {
  background-color: #1c1328;
  border-bottom: #c66a53;
  list-style: none;
  position: fixed;
     left: 0;
     top: 0;
     width: 100%;
  font-size: 1.3em;
  font-variant: small-caps;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
 }

 .mainNav ul {
   margin: 0;
 }

 .mainNav li {
   padding-bottom: .4em;
   text-align: left;
 }

.mainNav li a {
  text-decoration: none;
  color: #c66a53;
}

.mainNav li a:hover {
  color: #e19160;
}

/*********
HEADER BAR
**********/

header {
  background-color: #c66a53;
  margin-bottom: 0;
  padding-top: 155px;
  text-align: center;
}

#headerimages img {
  width: 100%;
}

#contactInfo {
  border-bottom: double black;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  clear: both;
  background-color: #e19160;
}

#contactInfo a {
  color: #1c1328;
  font-weight: bold;
  text-decoration: none;
}

#contactInfo a:hover {
  color: #deb7d2;
}


/*********
BODY
**********/


main {
  background-color: #deb7d2;
  background-image: url("../images/canvasLavender.jpg");
  background-size: 30%;
  margin-top: 0;
  overflow: auto;
  padding: 5%;

}

h1 {
  font-family: 'Eagle Lake', cursive;
  font-size: 2em;
  line-height: 1.3;
  margin-top: 5px;
  text-align: center;
}

h2 {
  color: #1c1328;
  font-family: 'Eagle Lake', cursive;
}

h3 {
  font-weight: bold;
}

iframe {
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
  max-width: 100%;
}

table {
  border: 5px;
  border-style: solid;
  border-color: #deb7d2;
  margin-left: 2%;
  margin-right: 2%;
}

tr {
  background-color: rgba(142, 98, 124, .7);
  font-size: .9em;
  text-align: center;
  color: #deb7d2;
}

td {
  padding: 5px;
}

#offerings {
  padding-top: 35px;
}

#location {
  padding-top: 45px;
}

#feedback {
  clear: both;
  padding-top: 45px;
}

.invisibleSeparator {
  clear: both;
}

#links {
  padding-top: 45px;
}


/*********
FOOTER
**********/

footer {
  background-color: #c66a53;
  border-bottom: thick double #e19160;
  border-top: thick double #e19160;
  clear: both;
  font-size: 1.3em;
  margin-top: 0;
  padding: 2%;
 }

#socialMedia {
  float: left;
  margin: 0;
}


#copyright {
  color: #1c1328;
  font-size: .75em;
  text-align: right;
}

/**************
STYLES FOR LARGER SCREENS
***************/

@media only screen and (min-width:700px) {

  .mainNav {
    display: inline-block;
    float: left;
  }

  .mainNav li {
    float: left;
    padding-left: 4em;
  }

header {
  padding-top: 65px;
}

.main {
    background-color: #deb7d2;
  }

  .leftColumn {
    box-sizing: border-box;
    float: left;
    overflow: auto;
    padding-right: 5%;
    width:65%;
  }

  .rightColumn {
    background-color: rgba(28, 19, 40, .2);
    box-sizing: border-box;
    color: #deb7d2;
    float: left;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    width:35%;
  }

.massageLinks a {
  text-decoration: none;
  color: #c66a53;
}

.massageLinks a:hover {
  color: #e19160;
}

}
