/***************


COLORS:

background: #deb7d2; (lavender)
text, main menu bg: #1c1328 (dark purple)
main menu items: #c66a53 (darker orange)
main menu items (hover): #e19160 (lighter orange)
accents: #8e6286 (mid purple)
****************/

/*********
STYLES FOR ALL SIZES
**********/

body {
  color: #1c1328;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3em;
  margin: 0;
}


/*********
NAVIGATION
**********/


.mainNav {
  background-color: #1c1328;
  border-bottom: #c66a53;
  list-style: none;
  position: fixed;
     left: 0;
     top: 0;
     width: 100%;
  font-size: 1.3em;
  font-variant: small-caps;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  z-index: 2;
 }

 .mainNav ul {
   margin: 0;
 }

 .mainNav li {
   padding-bottom: .4em;
   text-align: left;
 }

.mainNav li a {
  text-decoration: none;
  color: #c66a53;
}

.mainNav li a:hover {
  color: #e19160;
}

/*********
HEADER BAR
**********/

header {
  background-color: #c66a53;
  margin-bottom: 0;
  padding-top: 155px;
  text-align: center;
}

#headerimages img {
  width: 100%;
}

#headerCompanyName h1 {
  display: inline;
}

/*#headerCompanyName {
  color: #e19160;
  font-size: 2vw;
  margin: 0;
  padding-bottom: 0;
  padding-left: 23%;
  position: relative;
    top: -6rem;
  text-align: left;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}*/

#contactInfo {
  border-bottom: double black;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  clear: both;
  background-color: #e19160;
}

#contactInfo a {
  color: #1c1328;
  font-weight: bold;
  text-decoration: none;
}

#contactInfo a:hover {
  color: #deb7d2;
}


/*********
BODY
**********/


main {
  background-color: #deb7d2;
  background: url("../images/canvasLavender.jpg");
  background-size: 30%;
  margin-top: 0;
  overflow: auto;
  padding: 5%;

}

h1 {
  font-family: 'Eagle Lake', cursive;
  font-size: 2em;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  color: #1c1328;
  font-family: 'Eagle Lake', cursive;
}

h3 {
  font-weight: bold;
}

iframe {
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  box-shadow: 0 15px 20px -12px rgba(0,0,0, .8);
}

table {
  /*border: 5px;
  border-style: solid;
  border-color: #deb7d2;*/
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 0 15px 20px -12px rgba(0,0,0, .8);
}

tr {
  background-color: rgba(28, 19, 40, .7);
  font-size: .9em;
  text-align: center;
  color: #deb7d2;
}

td {
  padding: 8px;
}

#offerings {
  padding-top: 150px;
}

#location {
  padding-top: 150px;
}

#feedback {
  clear: both;
  padding-top: 150px;
}

.invisibleSeparator {
  clear: both;
}

#links {
  padding-top: 150px;
}

audio {
	padding-top:1em;
	border:none;
  margin: auto;
  padding: auto;
	width: 100%;
}

/*********
FOOTER
**********/

footer {
  background-color: #c66a53;
  border-bottom: thick double #e19160;
  border-top: thick double #e19160;
  clear: both;
  font-size: 1.3em;
  margin-top: 0;
  padding: 2%;
 }

#socialMedia {
  float: left;
  margin: 0;
}


#copyright {
  color: #1c1328;
  font-size: .75em;
  text-align: right;
}

/**************
STYLES FOR LARGER SCREENS
***************/

@media only screen and (min-width:700px) {

  .mainNav {
    display: inline-block;
    float: left;
  }

  .mainNav li {
    float: left;
    padding-left: 4em;
  }

header {
  padding-top: 65px;
}

.main {
    background-color: #deb7d2;
  }

  .leftColumn {
    box-sizing: border-box;
    float: left;
    overflow: auto;
    padding-right: 5%;
    width:65%;
  }

  #offerings {
    padding-top: 55px;
  }

  #location {
    padding-top: 55px;
  }

  #feedback {
    padding-top: 55px;
  }

  .invisibleSeparator {
    clear: both;
  }

  #links {
    padding-top: 55px;
  }


  .rightColumn {
    background: linear-gradient(to top, #8e6286 -30%, transparent 90%),
                      rgba(142, 98, 124, .6);
    border: 1px solid #deb7d2;
    border-radius: 3%;
    box-sizing: border-box;
    color: #deb7d2;
    float: left;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    box-shadow: inset 0px 0px 50px 10px rgba(0,0,0, .1),
                0 15px 20px -12px rgba(0,0,0, .8);
    width:35%;
  }

.massageLinks a {
  text-decoration: none;
  color: #1c1328;
}

.massageLinks a:hover {
  color: #e19160;
}

}
